version: 2.1

orbs:
  shared: getoutreach/shared@dev:2.33.0-rc.18

jobs:
  test:
    executor:
      name: shared/oss-docker
      docker_image: ghcr.io/getoutreach/bootstrap/ci-oss
      docker_tag: latest
    environment:
      - GIT_COMMIT_DESC: git log --format=oneline -n 1 $CIRCLE_SHA1
      - ALLOW_MISE_TO_MANAGE_TOOL_VERSIONS: "true"
    steps:
      - shared/setup_environment:
          restore_cache: false
      - shared/with_node_cache:
          save: true
      - run:
          name: Run tests
          command: yarn test

workflows:
  test-publish:
    jobs:
      - test:
          context:
            - ghaccesstoken
      - shared/release:
          name: release-dryrun
          dryrun: true
          resource_class: medium
          executor_name: shared/oss-docker
          docker_image: ghcr.io/getoutreach/bootstrap/ci-oss
          docker_tag: latest
          filters:
            branches:
              ignore: master
          context:
            - aws-credentials
            - docker-registry
            - ghaccesstoken
      - shared/release:
          dryrun: false
          resource_class: medium
          requires:
            - test
          filters:
            branches:
              only: master
          context:
            - aws-credentials
            - docker-registry
            - ghaccesstoken
